<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.hdcd.mapper.ItemMapper">

	<!-- 이미지 업로드 -->
	<insert id="create" useGeneratedKeys="true" keyProperty="itemId">
		INSERT INTO dev_db.item
		(
			item_name,
			price,
			description,
			picture_url
		)
		VALUES
		(
			#{itemName},
			#{price},
			#{description},
			#{pictureUrl}
		)
	</insert>
	
	<select id="read" resultType="Item">
		SELECT 
			item_id,
			price,
			description,
			picture_url
		FROM
			dev_db.item
		WHERE
			item_id = #{itemId}
	</select>
	
	<update id="update">
		UPDATE
			dev_db.item
		SET
			item_name = #{itemName},
			price = #{price},
			description = #{description},
			picture_url = #{pictureUrl}
		WHERE
			item_id = #{itemId}
	</update>
	
	<delete id="delete">
		DELETE FROM
			dev_db.item
		WHERE
			item_id = #{itemId}
	</delete>
	
	<select id="list" resultType="Item">
		<![CDATA[
		SELECT
			item_id,
			item_name,
			price,
			description,
			picture_url
		FROM
			dev_db.item
		WHERE
			item_id > 0
		ORDER BY
			item_id DESC
		]]>
	</select>
	
	<select id="getPicture" resultType="String">
		SELECT
			picture_url
		FROM
			dev_db.item
		WHERE
			item_id = #{itemId}
	</select>
	
	<!-- 여러 개의 이미지 업로드 -->
	<insert id="createMultiple" useGeneratedKeys="true" keyProperty="itemId">
		INSERT INTO dev_db.item2
		(
			item_name,
			price,
			description,
			picture_url,
			picture_url2
		)
		VALUES
		(
			#{itemName},
			#{price},
			#{description},
			#{pictureUrl},
			#{pictureUrl2}
		)
	</insert>
	
	<select id="readMultiple" resultType="Item">
		SELECT 
			item_id,
			item_name,
			price,
			description,
			picture_url,
			picture_url2
		FROM
			dev_db.item2
		WHERE
			item_id = #{itemId}
	</select>
	
	<update id="updateMultiple">
		UPDATE
			dev_db.item2
		SET
			item_name = #{itemName},
			price = #{price},
			description = #{description},
			picture_url = #{pictureUrl},
			picture_url2 = #{pictureUrl2}
		WHERE
			item_id = #{itemId}
	</update>
	
	<delete id="deleteMultiple">
		DELETE FROM
			dev_db.item2
		WHERE
			item_id = #{itemId}
	</delete>
	
	<select id="listMultiple" resultType="Item">
		<![CDATA[
		SELECT
			item_id,
			item_name,
			price,
			description,
			picture_url,
			picture_url2
		FROM
			dev_db.item2
		WHERE
			item_id > 0
		ORDER BY
			item_id DESC
		]]>
	</select>
	
	<select id="getPictureMultiple1" resultType="String">
		SELECT
			picture_url
		FROM
			dev_db.item2
		WHERE
			item_id = #{itemId}
	</select>
	
	<select id="getPictureMultiple2" resultType="String">
		SELECT
			picture_url2
		FROM
			dev_db.item2
		WHERE
			item_id = #{itemId}
	</select>
</mapper>