<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Home</title>
	<meta http-equiv="Content-type" content="text/html; charset=UTF-8">
</head>

<script src="/js/jQuery-2.1.4.min.js"></script>
<script>
$(document).ready(function() {
	$("#listBtn").on("click", function() {
		//*** 이벤트 처리 로직 구현 ***//		
	});
	
	$("#readBtn").on("click", function() {
		//*** 이벤트 처리 로직 구현 ***//		
	});
	
	$("#registerBtn").on("click", function() {
		//*** 이벤트 처리 로직 구현 ***//		
	});
	
	$("#deleteBtn").on("click", function() {
		//*** 이벤트 처리 로직 구현 ***//		
	});
	
	$("#modifyBtn").on("click", function() {
		//*** 이벤트 처리 로직 구현 ***//		
	});
	
	$("#resetBtn").on("click", function() {
		$("#boardNo").val("");
		$("#title").val("");
		$("#content").val("");
		$("#writer").val("");
	});
});
</script>

<body>
	<h1>ajax Home</h1>
	
	<table>
		<tr>
			<td><label for="boardNo">boardNo</label></td>
			<td><input type="text" name="boardNo" value="" id="boardNo"></td>
		</tr>
		<tr>
			<td><label for="title">title</label></td>
			<td><input type="text" name="title" value="" id="title"></td>
		</tr>
		<tr>
			<td><label for="content">content</label></td>
			<td><textarea id="content" name="content"></textarea></td>
		</tr>
		<tr>
			<td><label for="writer">writer</label></td>
			<td><input type="text" name="writer" value="" id="writer"></td>
		</tr>
	</table>
	
	<div>
		<button id="listBtn">LIST</button>
		<button id="readBtn">READ</button>
		<button id="registerBtn">REGISTER</button>
		<button id="deleteBtn">DELETE</button>
		<button id="modifyBtn">MODIFY</button>
		<button id="resetBtn">RESET</button>
	</div>
</body>
</html>